.banner {
    background-image: url("/assets/logotransparent.png");
    background-size: cover;
    background-position: center;
    width: 153;
    height: 130px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner-overlay {
    padding: 30;
    border-radius: 12px;
    text-align: center;
    color: #F0EAD2;

    position: absolute;
    top: -140%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner h1 {
    font-family: 'Urbanist', sans-serif;
    font-size: 50px; 
    margin-bottom: 1;
    padding-top: 5px; 
    font-weight: 400;
    margin: 0 0 10px 0;
}

.banner h2 {
    font-family: 'Urbanist', sans-serif;
    font-size: 50px;    
    margin-bottom: 0.5rem;
    padding-top: 40px;  
    font-weight: 600;
    margin: 30%;
}


.logo {
    max-width: 150px;
    margin-bottom: 1rem;
}

.main-menu {
  width: 100%;
  max-width: 2550px;
  height: 73px;
  background-color: #8CA432; // Cor de fundo do menu
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 350px;
  left: 5;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.main-menu ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  align-items: center;
}

.main-menu li a {
  text-decoration: none;
  font-family: 'Urbanist', sans-serif;
  font-size: 28px;
  color: #3B4C20;
  font-weight: 500;
  transition: color 0.3s;
}

.main-menu li a:hover {
  color: #fff; //cor ao passar o mouse
}

.separator {
  color: #F0EAD2;
  padding: 0 100px; //espaçamento entre os traços e os links
  user-select: none;
  font-size: 2.1rem;
  width: auto;
}

.news-box {
  width: 409px;
  height: 55px;
  margin: 85px auto 0 auto;
  background-color: #3B4C20;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-family: 'Urbanist', sans-serif;
  font-weight: 300;
  font-size: 32px;
  color: #d8dfc9;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #8CA432;
  }
}